/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    height: 100%;
    font-family: sans-serif;
    background-color: #f3f4f6;
}


.card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 4px 3px rgb(0 0 0 / 0.07);
}

.btn {
    color: #374151;
    background-color: white;
    font-weight: 500;
    line-height: 1rem;
    padding: 0.375rem 0.625rem;
    box-shadow: 0 4px 3px rgb(0 0 0 / 0.07);
    border: 1px solid #d1d5db;
    border-radius: 0.25rem;
}

.btn:hover {
    cursor: pointer;
    text-decoration: underline;
}

.btn-primary {
    background-color: black;
    color: white;
    border-color: black;
}

form input {
    color: #374151;
    background-color: white;
    font-weight: 500;
    font-size: .75rem;
    line-height: 1rem;
    padding: 0.375rem 0.625rem;
    box-shadow: 0 4px 3px rgb(0 0 0 / 0.07);
    border: 1px solid #d1d5db;
    border-radius: 0.25rem;
}

form label {
    margin-right: 0.25rem;
    color: #374151;
    font-weight: 500;
}

form .form-field {
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
}