main {
  padding: 1rem 2rem;
  margin: auto;
  max-width: 1024px;
}

.navbar {
  display: flex;
  background-color: black;
  align-items: center;
}

.navbar > a {
  font-weight: 700;
  margin-left: 0.75rem;
}

.navbar-list {
  display: flex;
  list-style-type: none;
}

a {
  margin: 0;
  color: white;
  text-decoration: none;
  padding: 0.5rem;
}

a:hover,
.active-link {
  cursor: pointer;
  text-decoration: underline;
}
